body {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(14, 14, 14);
    margin: 0;
    background-color: rgb(167, 207, 199);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    text-align: center;
    background: rgb(167, 207, 199);
    font-size: 20px;
    color: rgb(255, 255, 255)
}

.title {
    color: rgb(255, 255, 255);
    margin-right: auto;
    
}

.navbar {
    display: flex;
}

.about {
    padding: 20px;
}

.news {
    padding: 20px
}

.contact {
    padding: 20px;
}
/**body-section**/


.purpose {
    background:rgb(167, 207, 199);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
